h3{
    text-align: center;
    background-color: black;
    color:white;
    font-size:150%;
    position: sticky;
}
.detail-image{
    background-color: white;
    max-height: 200px;
    max-width:200px;
    position:fixed;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
    justify-content: center;

}
 
#ramen-detail{
        text-align: center;
        margin: 10px;
        box-shadow: 0 4px,8px;

}
#ramen-menu{
 display:flex;
 justify-content: center;
 padding: -10px;
 gap:10px;
}
#ramen-menu img{
    max-width: 19%;
    height: 10%;
    border: 10px;
    box-shadow: 2px 2px 5px rgb(red, green, blue);

}
.name{
    background-color: white;
    font-size: 100%;
    text-align:center;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    min-width: min-content;


}

.restaurant{
    background-color: white;
    color:black;
    font-size: 150%;
    font-style: italic;
    position: relative;
}
.rating{
    font-weight: bold;
    margin-bottom: 50px;
}

.comment{
    margin-bottom: 15px;
    font-weight: bold;
    color: black;
}
#new-ramen{
    display:flex;
    flex-direction: column;
    max-width: 400px;
    margin:20px auto;
    padding: 20px;
    border: 10px;
    border-radius: 8px;
    font-weight: bold;
    color:black;
}

#new-ramen button{
    background-color:black;
    cursor: pointer;
    color: black;
}
#new-ramen input,
#new-ramen textarea,
#new-ramen button{
    margin-bottom:10px;
    padding: 8px;
    border: 1px solid  black;
    border-radius: 4px;
    font-weight: bold;
    color: white;
}
